.header-wrapper{
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.header-span{
    color: rgba(49, 48, 55, 1);
    font-family: "Helios", sans-serif;
    font-weight: bold;
    font-size: 28px;

}

.search-input{
    width: 542px;
    cursor: pointer;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    gap: 23px;
    padding: 0 16px;
}

.icon{
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.ant-input{
    height: 46px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-input-search .ant-input-search-button{
    height: 46px;
}
